body {
  padding: 0;
  display: block;
  margin: 0;
  background-size: auto;
}

.container {
  display: block;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
  padding: 0px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.container::before {
  content: "";
  background-image: url("https://r1.ilikewallpaper.net/iphone-x-wallpapers/download/36458/Sunset-sea-iphone-x-wallpaper-ilikewallpaper_com.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: -2;
  border-radius: 8px;
}
.weather-app-wrapper {
  max-width: 700px;
  display: block;
  margin: 0px;
}

.form-row {
  display: block;
  margin: 10px 300px;
  left: -200px;
  width: 400px;
  position: relative;
}

.active {
  color: rgb(32, 33, 110);
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

small {
  position: relative;
  left: 125px;
  color: #48484a;
}

ul {
  padding: 10px;
}
ul li {
  display: inline;
  padding: 0px 0px;
  color: #48484a;
  font-weight: bold;
}
