.container {
  display: block;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

#main::before {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  z-index: -2;
  border-radius: 8px;
}
#footer {
  text-align: left;
  font-size: small;
  margin-top: 5px;
}
.form-row {
  display: block;
  margin: 10px 300px;
  left: -200px;
  width: 400px;
  position: relative;
}

.active {
  color: rgb(32, 33, 110);
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

small {
  position: relative;
  left: 125px;
  color: #48484a;
}
