#date {
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 5px 0px 5px;
  margin-left: 100px;
  color: rgb(32, 57, 105);
}

button.btn {
  position: relative;
  border-radius: 4px;
  border: thin;
  background-color: rgb(32, 57, 105);
  opacity: 0.9;
  color: white;

  box-shadow: 1px 1px 3px #7ba3e6;
  padding: 3px 40px 3px 60px;
}

.btn:hover {
  color: rgb(32, 57, 105);
  background-color: white;
}
